.cardContainer {
  position: relative;
  display: flex;
  list-style: none;
}

.blueClass {
  height: 50px;
  width: 50px;
  margin: 10px;
  background: blue;
  top: 0;
  left: 0;
}

.redClass {
  height: 50px;
  width: 50px;
  margin: 10px;
  background: red;
  top: 0;
  left: 0;
}
